table {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
}

caption {
    text-align: left;
    color: silver;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

th {
    background: SteelBlue;
    color: white;
}

tbody tr:nth-child(even) {
    background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
    text-align: center;
}

tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
    text-align: center;
    font-family: monospace;
}

tfoot {
    background: SeaGreen;
    color: white;
    text-align: right;
}

tfoot tr th:last-child {
    font-family: monospace;
}

td, th {
    border: 1px solid gray;
    width: 25%;
    text-align: left;
    padding: 5px !important;
}
.blue-button {
    background: #25A6E1;
    padding: 3px 5px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 4px;
    border: 1px solid #1A87B9
}
.red-button {
    background: #CD5C5C;
    padding: 3px 5px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 4px;
    border: 1px solid #CD5C5C
}
.required:after {
    content:" *";
    color: red;
}

/*input:placeholder-shown {*/
/*    font-style: italic;*/
/*}*/